@page
@model Hackathon.Pages.BMFModel
@{
}
<div class="row orange">
    <div class="col-sm-4">
        <h4 class="white bgorange shadowz font3">Founded 1990</h4>

        <h1 class="orange text-center font3">
            <a class="nav-link active orange" aria-current="page" href="https://decisivedriver.com/">Cowboy Driving Academy</a>
        </h1>
        <p class="black font1">
            Cowboy Driving Academy was started when Drivers Ed was cut from public schools with one paid-off suburban with an instructor brake. Now the word has spread to allow us to serve 9 locations with 40 instructors, 25 cars, and 5 Designated Driver’s License Examiners. Our mission is coaching young drivers to be excellent decision-makers because that SAVES LIVES.
        </p>

    </div>
    <div class="col-sm-8">
        <img class="biz shadow" src="~/images/cdc.jpg" /> 
    </div>
    <br />
</div>
<div class="row orange present">
    <div class="col-sm-8">
        <img src="~/images/cdc2.webp" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title orange font3">Cowboy Driving Academy</h4>
            <hr class="custom-hr" />
            <ul class="black font1">
                <li>Employees | 25</li>
                <li>Locations | 1</li>
                <li>NetWorth | 5,000,000</li>
            </ul>
            <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = 'https://stillykicks.com/';">Learn More!</button>
        </div>
    </div>
    <div class="col-sm-4">
        <h4 class="white bgorange shadowz text-end font3">Bradley Merrill Finely</h4>
        <img class="head align-content-end bmf" src="~/images/bmf.jpg" /> 
        <h3 class="black text-lg-end font3">Graduated 1984</h3>
        <h5 class="text-end font3">Spears School of Business</h5>
        <div class="rounded-social-buttons2 align-content-end font1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <a class="social-button linkedin" href="https://www.linkedin.com/company/spears-school-of-business" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
    <br />
</div>