@page
@model Hackathon.Pages.DTSModel
@{
}
<div class="row orange">
    <div class="col-sm-4">
        <h4 class="white bgorange shadowz font3">Founded 1968</h4>

        <h1 class="orange text-center font3">
            <a class="nav-link active orange" aria-current="page" href="https://tricountytech.edu/">Tri County Tech</a>
        </h1>
        <p class="black font1">
            Tri County Tech was the first of its kind in Oklahoma, opening its doors in 1968, and continues as a nationwide leader in technical and career education. Tri County Tech is one of 29 technology centers in the state serving residents in Washington, Nowata and Osage counties. We serve high school & adult students with specialized career training in more than 30 instructional areas. High school students living in the tri-county area attend tuition-free, while adults are charged affordable tuition.
        </p>

    </div>
    <div class="col-sm-8">
        <img class="biz shadow" src="~/images/strobel.webp" />
    </div>
    <br />
</div>
<div class="row orange present">
    <div class="col-sm-8">
        <img src="~/images/strobel.webp" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title orange font3">Tri County Tech</h4>
            <hr class="custom-hr" />
            <ul class="black font1">
                <li>Employees | 93</li>
                <li>Locations | 1</li>
                <li>NetWorth | 4,000,000</li>
            </ul>
            <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = 'https://stillykicks.com/';">Learn More!</button>
        </div>
    </div>
    <div class="col-sm-4">
        <h4 class="white bgorange shadowz text-end font3">Dr. Tammie Strobel</h4>
        <img class="head align-content-end"src="~/images/hsstrobel.jpg" />
        <h3 class="black text-lg-end font3">Graduated 1985</h3>
        <h5 class="text-end font3">Spears School of Business</h5>
        <div class="rounded-social-buttons2 align-content-end font1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <a class="social-button linkedin" href="https://www.linkedin.com/company/spears-school-of-business" target="_blank"><i class="fa fa-linkedin"></i></a>
            </div>
    </div>
    <br />
</div>