@page
@model IndexModel
@{
    ViewData["Title"] = "Home page 123";
}
@* First row class created for landing on the home page *@

<div class="row bgorange">
    <div class="col-sm-12">
        <div class="row text-white text-center font3">
            <h1>Honouring Past and Present Pokes</h1>
        </div>
    </div>
</div>
<div class="row bgorange">
    <div class="col-sm-12">
        <div class="row">
            <img src="~/images/spears.jpg" />
    </div>
</div>
</div>

<div class="row">
<body>

    
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8 font3">
            <h2>Recognized Businesses!</h2>
    <p></p>
            <button type="button" class="collapsible">Embark</button>
    <div class="content">
        <h3 class="row orange">Paul Allen Graduated 2001</h3>
        <h3 class="row orange">Spears School of Business</h3>
                <p>Embark is a new kind of business advisory firm, one that focuses on building strong, enduring relationships through knowledge, skill, experience and hospitality. That’s the recipe to our secret sauce, the ingredients that drive our commitment to absolute excellence. That commitment saturates everything we do, from building a unique, satisfying work culture for our people to delivering genuine value for our clients with unflinching hospitality.</p>
                <a class="btn orange" href="PA">Learn More About Paul Allen</a>
            </div>
            <button type="button" class="collapsible">Homes by Taber</button>
    <div class="content">
                <h3 class="row orange">Taber LeBlanc Graduated 1999</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Homes by Taber was started by Taber LeBlanc, Owner and President, in 2000 with the help of his father-in-law, who was a long-time, well-respected land developer around the Oklahoma City metro area. Through humble beginnings and with John’s help, we got our start to become Oklahoma’s Favorite Builder®. With hard work and dedication to our customers, we have proudly grown from building three homes in our first year to where we are today as the largest and most reputable home builder in Oklahoma.</p>
                <a class="btn orange" href="TLB">Learn More About Taber LeBlanc</a>
            </div>
            <button type="button" class="collapsible">Payne County Tree Service, Inc.</button>
    <div class="content">
                <h3 class="row orange">Kristen Hadley Graduated 2000</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Payne County Tree Service, Inc. is Stillwater and Payne County's premier service for complete and professional tree care. Our fully insured and affordable services Inc.lude tree trimming, tree removal, stump grinding and much more. We are proudly owned and operated by OSU alumni and our families have lived in Stillwater for more than five generations. We have satisfied customers dating back to 1990. No one can beat our quality of work and caring attitude.</p>
                <a class="btn orange" href="KH">Learn More About Kristen Hadley</a>
            </div>
            <button type="button" class="collapsible">Exchange Traded Concepts</button>
    <div class="content">
                <h3 class="row orange">J. Garrett Stevens Graduated 2001</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Exchange Traded Concepts is an SEC Registered Investment Adviser specializing in Private Label ETFs. ETC helps clients launch their passive and active ETFs under the Investment Company Act of 1940. ETC provides an efficient and cost-effective method to bring your exchange-traded fund to market with the operational and regulatory experience necessary. ETC provides a full-service turn-key platform to launch and manage your ETF.</p>
                <a class="btn orange" href="JGS">Learn More About J. Garrett Stevens</a>
            </div>
            <button type="button" class="collapsible">Credera</button>
    <div class="content">
                <h3 class="row orange">Justin Bell Graduated 2000</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Credera is a global boutique consulting firm focused on strategy, innovation, data and technology. As part of the Omnicom Precision Marketing Group, our more than 3,000 consultants across the globe partner with clients ranging from long-time market leaders to emerging companies, from strategy to execution, to unlock significant business results. Our mission is to make an extraordinary impact on our clients, people and communities.</p>
                <a class="btn orange" href="JB">Learn More About Justin Bell</a>
            </div>
            <button type="button" class="collapsible">Medical Billing Wholesalers</button>
    <div class="content">
                <h3 class="row orange">Vinod Sankaran Graduated 2003</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Medical Billing Wholesalers helps some of the most progressive physician practices, hospitals, medical billing companies and revenue cycle software providers achieve market-leading results. With proven technology and robust revenue cycle processes, we reduce costs by over 40% and improve collections by over 20%.</p>
                <a class="btn orange" href="VS">Learn More About Vinod Sankaran</a>
            </div>
            <button type="button" class="collapsible">Cowboy Driving Academy, LLC</button>
    <div class="content">
                <h3 class="row orange">Bradley Merrill Finely Graduated 1984</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Cowboy Driving Academy was started when Drivers Ed was cut from public schools with one paid-off suburban with an instructor brake. Now the word has spread to allow us to serve 9 locations with 40 instructors, 25 cars, and 5 Designated Driver’s License Examiners. Our mission is coaching young drivers to be excellent decision-makers because that SAVES LIVES.</p>
                <a class="btn orange" href="BMF">Learn More About Bradley Merrill Finely</a>
            </div>
            <button type="button" class="collapsible">HostBridge Technology, LLC</button>
    <div class="content">
                <h3 class="row orange">Russ Teubner Graduated 1978</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Founded in 2000, HostBridge Technology provides software and services to analyze, integrate and modernize legacy CICS applications without screen-scraping. Enterprises around the world use HostBridge to enable legacy mainframe application participation in the hybrid cloud.</p>
                <a class="btn orange" href="RT">Learn More About Russ Teubner</a>
            </div>
            <button type="button" class="collapsible">OnCue</button>
    <div class="content">
                <h3 class="row orange">Jim Griffith Graduated 1975</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Stillwater-based OnCue is a growing innovator in the Oklahoma and Texas convenience store markets. Founded in 1966, OnCue has expanded to more than 75 locations and employs over 1,500. Named a Top Workplace by The Oklahoman four times, OnCue is known for its outstanding employees and company culture.</p>
                <a class="btn orange" href="JG">Learn More About Jim Griffith</a>
            </div>
            <button type="button" class="collapsible">InterWorks</button>
    <div class="content">
                <h3 class="row orange">Behfar Jahanshahi Graduated 2001</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Based in Stillwater, OK, InterWorks is a people-focused tech consultancy delivering premier service and expertise to clients around the globe. Fortune 500 companies and small businesses alike trust us to guide them toward the best IT and data solutions. Beyond empowering others in business, we’re also passionate about our community. InterWorks employs dozens of OSU alumni who maintain a strong connection to the university throughteaching, workshops and programs like Spears Assist.</p>
                <a class="btn orange" href="BJ">Learn More About Behfar Jahanshahi</a>
                </div>
            <button type="button" class="collapsible">Video Gaming Technologies, Inc.</button>
    <div class="content">
                <h3 class="row orange">James C. Starr Graduated 1986</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Founded in 1991, Video Gaming Technologies, Inc., is a leading manufacturer and distributor of Class II games (Native American bingo-based gaming). In 2014, VGT was acquired by Aristocrat Leisure Limited. The company has more than 25,000 Class II games in more than 140 locations in the United States. VGT provides exciting game titles that generate intense customer loyalty, deliver record-setting gaming revenues, and ensure some of the highest uptimes in the industry.</p>
                <a class="btn orange" href="JCS">Learn More About James C. Starr</a>
            </div>
            <button type="button" class="collapsible">Extract Companies</button>
    <div class="content">
                <h3 class="row orange">Matt Owen Gipson Graduated 2004</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Extract is a private, equity-backed Oilfield Service business sponsored by White Deer Energy. Extract was formed as an organic startup in 2017, with the ambition of improving unconventional oil and gas well production in the Mid-Continent and Permian Basin areas of the United States through technological innovations in artificial lift. The company has a robust R&D effort underway and works with and for the largest E&P companies in the U.S. oilfield.</p>
                <a class="btn orange" href="MOG">Learn More About Matt Owen Gipson</a>
            </div>
            <button type="button" class="collapsible">Direct Kicks</button>
    <div class="content">
                <h3 class="row orange">Louis Lacarbonara Graduated 2015</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Direct Kicks is a buy, sell, trade sneaker store that specializes in brand-new and pre-owned sneakers such as Air Jordans, Adidas Yeezys and more! Starting in 2013 as an online store, Direct Kicks now has two physical locations, one being in the Village of Mamaroneck for six years and the other being in The Westchester Mall in White Plains since September 2021.</p>
                <a class="btn orange" href="LL">Learn More About Louis Lacarbonara</a>
            </div>
            <button type="button" class="collapsible">Tri County Tech</button>
    <div class="content">
                <h3 class="row orange">Dr. Tammie Strobel Graduated 1985</h3>
                <h3 class="row orange">Spears School of Business</h3>
                <p>Tri County Tech was the first of its kind in Oklahoma, opening its doors in 1968, and continues as a nationwide leader in technical and career education. Tri County Tech is one of 29 technology centers in the state serving residents in Washington, Nowata and Osage counties. We serve high school & adult students with specialized career training in more than 30 instructional areas. High school students living in the tri-county area attend tuition-free, while adults are charged affordable tuition.</p>
                <a class="btn orange" href="DTS">Learn More About Dr. Tammie Strobel</a>
            </div>

   
    
    
    
    
    
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
    </script>
    </div>

</body>
</div>