@page
@model Hackathon.Pages.MOGModel
@{
}

<div class="row orange">
    <div class="col-sm-4">
        <h4 class="white bgorange shadowz font3">Founded 2011</h4>

        <h1 class="orange text-center font3">
            <a class="nav-link active orange" aria-current="page" href="https://www.extractproduction.com/">Extract Companies</a>
        </h1>
        <p class="black font1">Exchange Traded Concepts is an SEC Registered Investment Adviser specializing in Private Label ETFs. ETC helps clients launch their passive and active ETFs under the Investment Company Act of 1940. ETC provides an efficient and cost-effective method to bring your exchange-traded fund to market with the operational and regulatory experience necessary. ETC provides a full-service turn-key platform to launch and manage your ETF.</p>

    </div>
    <div class="col-sm-8">
        <img class="biz shadow" src="~/images/garrettstevens.jpg" />
    </div>
    <br />
</div>
<div class="row orange present">
    <div class="col-sm-8">
        <img src="~/images/stilly kicks.jpg" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title orange font3">StillyKicks</h4>
            <hr class="custom-hr" />
            <ul class="black font1">
                <li>Employees | 24</li>
                <li>Locations | 2</li>
                <li>NetWorth | 4,000,000</li>
            </ul>
            <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = 'https://stillykicks.com/';">Learn More!</button>
        </div>
    </div>
    <div class="col-sm-4">
        <h4 class="white bgorange shadowz text-end font3">J. Garrett Stevens</h4>
        <img class="head align-content-end" src="~/images/pistolpeteheaderbg.png" />
        <h3 class="black text-lg-end font3">Graduated 2001</h3>
        <h5 class="text-end font3">Spears School of Business</h5>
        <div class="rounded-social-buttons2 align-content-end font1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <a class="social-button linkedin" href="https://www.linkedin.com/company/spears-school-of-business" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
    <br />
</div>