@page
@model PrivacyModel
@{
    ViewData["Title"] = "Present Pokes";
}
<div class="row bgorange">
    <div class="col-sm-12">
        <div class="row text-white text-left font3">
            <h1>PRESENT POKES</h1>
        </div>
    </div>
</div>
<div class="row rowpp">
    <div class="col-sm-4 bg-light">
    </div>
    <div class="col-sm-4 bg-light">
        <h4 class="font3">Congratulations!</h4>
        <h6 class="font2">The Spears Business School is proud these businesses are led by Pokes!</h6>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-3 picbottom">
        <img src="~/images/logoforheader.svg" />
    </div>
</div>
<hr />
<div class="row row-cols-1 row-cols-sm-3 g-4 justify-content-center present">
    <div class="col">
        <div class="card silver">
            <img src="~/images/campusc.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title orange font3">CampusCollective</h5>
                <hr class="custom-hr" />
                <h6>Jaxson Crull</h6>
                
                <p class="card-text font1">
                    Established in 2023 by Jaxson Crull, an outfielder at Oklahoma State University, Campus Collective was born out of a vision to empower athletes by providing opportunities to capitalize on their Name, Image, and Likeness (NIL). The primary objective of our business is to inclusively involve every athlete within a university's athletic program.
                </p>
                <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = 'https://campuscollective.shop/';">CampusCollective Website</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card gold">
            <img src="~/images/stilly kicks.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title orange font3">StillyKicks</h5>
                <hr class="custom-hr" />
                <h6>Louis Lacarbonara</h6>
               
                <p class="card-text font1">

                    Stilly Kicks, founded by Louis Lacarbonara, is a vibrant sneaker store in Stillwater, Oklahoma, known for its unique blend of urban culture and high-end footwear, featuring rare and hard-to-find sneakers alongside custom artwork, a welcoming community that celebrates the passion for sneaker culture, and a commitment to passing on entrepreneurial wisdom to the next generation.
                </p>
                <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = 'https://stillykicks.com/';">StillyKicks Website</button>
            </div>
        </div>
    </div>
</div>
<hr />
