@page
@model Hackathon.Pages.TLBModel
@{
}
<div class="row orange">
    <div class="col-sm-4">
        <h4 class="white bgorange shadowz font3">Founded 2000</h4>

        <h1 class="orange text-center font3">
            <a class="nav-link active orange" aria-current="page" href="https://www.homesbytaber.com/">Homes by Taber</a>
        </h1>
        <p class="black font1">
            Homes by Taber was started by Taber LeBlanc, Owner and President, in 2000 with the help of his father-in-law, who was a long-time, well-respected land developer around the Oklahoma City metro area. Through humble beginnings and with John’s help, we got our start to become Oklahoma’s Favorite Builder®. With hard work and dedication to our customers, we have proudly grown from building three homes in our first year to where we are today as the largest and most reputable home builder in Oklahoma.
        </p>

    </div>
    <div class="col-sm-8">
        <img class="biz shadow" src="~/images/hbt.webp" /> 
    </div>
    <br />
</div>
<div class="row orange present">
    <div class="col-sm-8">
        <img src="~/images/stilly kicks.jpg" class="card-img-top">
        <div class="card-body">
            <h4 class="card-title orange font3">Homes by Taber</h4>
            <hr class="custom-hr" />
            <ul class="black font1">
                <li>Employees | 100</li>
                <li>Locations | 1</li>
                <li>NetWorth | 4,000,000</li>
            </ul>
            <button type="button" class="btn btn-outline-secondary" onclick="window.location.href = 'https://stillykicks.com/';">Learn More!</button>
        </div>
    </div>
    <div class="col-sm-4">
        <h4 class="white bgorange shadowz text-end font3">Taber LeBlanc</h4>
        <img class="head align-content-end" src="~/images/pistolpeteheaderbg.png" />
        <h3 class="black text-lg-end font3">Graduated 1999</h3>
        <h5 class="text-end font3">Spears School of Business</h5>
        <div class="rounded-social-buttons2 align-content-end font1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
            <a class="social-button linkedin" href="https://www.linkedin.com/company/spears-school-of-business" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
    <br />
</div>